<app-spiner></app-spiner>
<div class="site-wrapper">
    <div class="container">
        <h1>{{'label.generics.registro' | translate}}</h1>
    </div>
    <form [formGroup]="recordForm" (ngSubmit)="guardar()">
        <div class="container">
            <div class="item  item-1">
                <label for="nombre">{{'label.generics.nombre' | translate}}</label>
                <input name="nombre" formControlName="nombre" id="Fnombre" type="text" placeholder="Ingrese Nombre"
                    [class.is-invalid]="submit && genericControl.nombre.errors">
                <div *ngIf="submit && genericControl.nombre.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.nombre.errors?.required">{{'label.generics.camposRequerido' | translate}}
                    </div>
                    <div *ngIf="genericControl.nombre.errors?.maxlength">{{'label.generics.maximo30' | translate}}</div>
                </div>
            </div>
            <div class="item  item-2">
                <label for="apellido">{{'label.generics.apellido' | translate}}</label>
                <input name="apellido" formControlName="apellido" id="Lapellido" type="text"
                    placeholder="Ingrese Apellido" [class.is-invalid]="submit && genericControl.apellido.errors">
                <div *ngIf="submit && genericControl.apellido.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.apellido.errors?.required">{{'label.generics.camposRequerido' |
                        translate}}</div>
                    <div *ngIf="genericControl.apellido.errors?.maxlength">{{'label.generics.maximo30' | translate}}
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="item  item-1">
                <label for="pais">{{'label.generics.pais' | translate}}</label>
                <ng-select id="pais" name="pais" formControlName="pais" (change)="obtenerDepartamentos($event)"
                    [items]="listPaises" [loading]="listPaises == undefined" bindValue="idPadre" bindLabel="nombrePais"
                    [class.is-invalid]="submit && genericControl.pais.errors" [placeholder]="'Seleccione país'">
                </ng-select>
                <div *ngIf="submit && genericControl.pais.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.pais.errors?.required">{{'label.generics.camposRequerido' | translate}}
                    </div>
                </div>
            </div>
            <div class="item  item-2">
                <label for="departamento">{{'label.generics.departamento' | translate}}</label>
                <ng-select id="departamento" name="departamento" formControlName="departamento"
                    [items]="listDepartamentos" [loading]="listDepartamentos == undefined" bindValue="idPadre"
                    bindLabel="nombreDepartamento" [placeholder]="'Seleccione departamento'"
                    [ngClass]="{'is-invalid': submit && genericControl.departamento.errors}">
                </ng-select>
                <div *ngIf="submit && genericControl.departamento.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.departamento.errors?.required">{{'label.generics.camposRequerido' |
                        translate}}</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="item  item-1">
                <label for="email">{{'label.generics.email' | translate}}</label>
                <input name="email" formControlName="email" id="email" type="email" placeholder="Ingrese Email"
                    [class.is-invalid]="submit && genericControl.email.errors">
                <div *ngIf="submit && genericControl.email.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.email.errors?.required">{{'label.generics.camposRequerido' | translate}}
                    </div>
                    <div *ngIf="genericControl.email.errors?.email">{{'label.generics.emailNoValido' | translate}}</div>
                </div>
            </div>
            <div class="item  item-2">
                <label for="telefono">{{'label.generics.telefono' | translate}}</label>
                <input name="telefono" formControlName="telefono" id="telefono" type="text"
                    placeholder="Ingrese Telefono" [class.is-invalid]="submit && genericControl.telefono.errors">
                <div *ngIf="submit && genericControl.telefono.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.telefono.errors?.required">{{'label.generics.camposRequerido' |
                        translate}}</div>
                    <div *ngIf="genericControl.telefono.errors?.pattern">{{'label.generics.campoNumerico' | translate}}
                    </div>
                    <div *ngIf="genericControl.telefono.errors?.maxlength">{{'label.generics.maximo10' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="item  item-1">
                <label for="contrasenia">{{'label.generics.contrasenia' | translate}}</label>
                <input name="contrasenia" formControlName="contrasenia" id="contrasenia" type="text"
                    placeholder="Ingrese Contraseña" (change)="validarContrasenia($event)"
                    [class.is-invalid]="submit && genericControl.contrasenia.errors">
                <div *ngIf="submit && genericControl.contrasenia.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.contrasenia.errors?.required">{{'label.generics.camposRequerido' |
                        translate}}</div>
                    <div *ngIf="genericControl.contrasenia.errors?.pattern">{{'label.generics.alfanumerico' |
                        translate}}</div>
                    <div *ngIf="genericControl.contrasenia.errors?.minlength">{{'label.generics.minimo6' | translate}}
                    </div>
                </div>
            </div>
            <div class="item  item-2">
                <label for="dobleContrasenia">{{'label.generics.repitaContrasenia' | translate}}</label>
                <input name="dobleContrasenia" formControlName="dobleContrasenia" id="dobleContrasenia" type="text"
                    placeholder="Ingrese Contraseña" (change)="validarContrasenia($event)"
                    [class.is-invalid]="submit && genericControl.dobleContrasenia.errors">
                <div *ngIf="submit && genericControl.dobleContrasenia.errors" class="invalid-feedback">
                    <div *ngIf="genericControl.dobleContrasenia.errors?.required">{{'label.generics.camposRequerido' |
                        translate}}</div>
                    <div *ngIf="genericControl.dobleContrasenia.errors?.pattern">{{'label.generics.alfanumerico' |
                        translate}}</div>
                    <div *ngIf="genericControl.dobleContrasenia.errors?.minlength">{{'label.generics.minimo6' |
                        translate}}</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="item  item-1">
                <label class="container">
                    <a [href]="this.ulrTerminos" target="_blank">
                        <strong>{{'label.generics.terminos' | translate}}</strong>
                    </a>
                    <input type="checkbox" name="terminos" formControlName="terminos" (click)="validarTerminos($event)">
                </label>

            </div>
        </div>
        <div class="container">
            <div class="item-button-2">
                <button class="button-cancel button-cancel"><strong>{{'label.generics.cancelar' |
                        translate}}</strong></button>
            </div>
            <div class="item-button-1">
                <button class="button-save" type="submit"><strong>{{'label.generics.guardar' | translate}}</strong>
                </button>
            </div>
        </div>
    </form>
</div>