<app-header [isLogged]="this.isLogged"></app-header>
<div class="container">
    <div class="item item-1">
        <h1>
            {{'label.generics.Welcome' | translate}}
            <br><strong>{{'label.generics.Interview' | translate}}</strong>
            <br>
            <div class="wolox-color"><strong>{{'label.generics.wolox' | translate}}</strong></div>
        </h1>
    </div>
    <div class="item item-2"></div>
</div>
<app-woloxers></app-woloxers>
<app-benefits></app-benefits>
<app-footerlanding></app-footerlanding>