.container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item {
    border-radius: .2em;
    
    padding: 2em 1em;
    color: white;
  }
  .item-1 {
    color: black;
    
    text-align: center;
  }
  .item-2 {
    color: black;
    
    text-align: center;
  }
  .item-3 {
    color: black;
    
    text-align: center;
  }
  .item-4 {
    color: black;
    
    text-align: center;
  }
  .item-5 {
    color: black;
    
    text-align: center;
  }
  .item-6 {
    color: black;
    
    text-align: center;
  }