<div class="container" id="beneficios">
    <div class="item item-1">
        <img src="../assets/assets/Ic_Hour.svg">
        <div><span><strong>{{'label.generics.flexibilidad' | translate}}</strong></span>
            <br><strong>{{'label.generics.horaria' | translate}}</strong>
        </div>
    </div>
    <div class="item item-2">
        <img src="../assets/assets/Ic_HomeOffice.svg">
        <div><span><strong>{{'label.generics.homeOffice' | translate}}</strong></span>
        </div>
    </div>
    <div class="item item-3">
        <img src="../assets/assets/Ic_Workshops.svg">
        <div><span><strong>{{'label.generics.capacitaciones' | translate}}</strong></span>
            <br><strong>{{'label.generics.workshops' | translate}}</strong>
        </div>
    </div>
    <div class="item item-4">
        <img src="../assets/assets/Ic_DrinkSnacks.svg">
        <div><span><strong>{{'label.generics.snacks' | translate}}</strong></span>
            <br><strong>{{'label.generics.bebidas' | translate}}</strong>
        </div>
    </div>
    <div class="item item-5">
        <img src="../assets/assets/Ic_laptop.svg">
        <div><span><strong>{{'label.generics.semana' | translate}}</strong></span>
            <br><strong>{{'label.generics.remota' | translate}}</strong>
        </div>
    </div>
    <div class="item item-6">
        <img src="../assets/assets/Ic_brain.svg">
        <div><span><strong>{{'label.generics.trabajar' | translate}}</strong></span>
            <br><strong>{{'label.generics.tecnologias' | translate}}</strong>
        </div>
    </div>
</div>