<div class="container" id="footer">
    <div class="item item-1">
        <h1>
            <strong><span>{{'label.generics.gracias' | translate}} </span><span
                    class="color-woloxers">{{'label.generics.completar' | translate}}</span></strong>
        </h1>
        <h4>{{'label.generics.invitamos' | translate}}</h4>
        <div>
            <button class="button button" (click)="navigatePageWolox()"><strong>{{'label.generics.conocer' |
                    translate}}</strong></button>
        </div>
        <div class="margin">
            <img src="../assets/assets/Ic_Wolox_Footer.svg">
        </div>
    </div>
</div>